body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #202020;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background: #202020;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 3px 4px 10px 3px rgba(135, 133, 133, 0.516);
}
h1 {
    text-align: center;
    color: #ffffff;
}
.question {
    margin-bottom: 20px;
    color: #ffffff;
}
.question p {
    font-weight: bold;
}
.question input {
    margin-right: 10px;
}
.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit-btn:hover {
    background: #0056b3;
}
.result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: green;
}