body{
  background-color: black;
  color: aquamarine;
  margin: 0;
}
#maindiv{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  /* This is the secret sauce. By default, a body is only as tall as the content inside it. 100vh tells the browser, "Make this container exactly 100% of the Viewport Height." Without this, the form would be centered at the top of the page rather than the middle of the screen. */
}
#two{
  display: none;
  
}
#three{
  display: none;
}

.progress-bar-container{
  width: 100%;
  height: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 5px;

}
#progress-bar{
  width: 25%;
  background-color: aquamarine;
  height: 100%;
  border-radius: 5px;
  transition: width 0.4s ease;
}

button{
  margin-top: 10px;
  background-color: aquamarine;
  border: none;
  border-radius: 10px;
  height:25px;
  width:100px;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  color: #000000;
  
}

input, select{
  height: 25px;
  width: 200px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  background-color: aquamarine;
  color: black;
  
}
button:active{
  background-color: rgba(127, 255, 212, 0.705);
  transition: 0.2s ease;
}