body{
  background-color: black;
  color: aquamarine;
  
}

#two{
  display: none;
  
}
#three{
  display: none;
}

.progress-bar-container{
  width: 100%;
  height: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 5px;

}
#progress-bar{
  width: 25%;
  background-color: aquamarine;
  height: 100%;
  border-radius: 5px;
  transition: width 0.4s ease;
}